node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# config
eas.json
configs/

# environments
.venv/
venv/
.env
.env.*
venv
env/

# Local Netlify folder
.netlify
